<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- ========================= -->
    <!-- Common properties        -->
    <!-- ========================= -->
    <property name="LOG_PATH" value="logs"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"/>

    <!-- ========================= -->
    <!-- INPUT FILE APPENDER       -->
    <!-- ========================= -->

    <appender name="REQUEST_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/request.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/request-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger - %msg%n</pattern>
        </encoder>
    </appender>



    <!-- ========================= -->
    <!-- CONSOLE APPENDER         -->
    <!-- ========================= -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ========================= -->
    <!-- APPLICATION LOG FILE     -->
    <!-- ========================= -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/application.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ========================= -->
    <!-- SUCCESS LOG FILE         -->
    <!-- ========================= -->
    <appender name="SUCCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/success.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/success-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ========================= -->
    <!-- ERROR LOG FILE           -->
    <!-- ========================= -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ========================= -->
    <!-- CUSTOM LOGGERS           -->
    <!-- ========================= -->

    <!-- INPUT LOGGER -->
    <logger name="REQUEST_LOG" level="INFO" additivity="false">
        <appender-ref ref="REQUEST_FILE"/>
    </logger>


    <!-- SUCCESS LOGGER -->
    <logger name="SUCCESS_LOG" level="INFO" additivity="false">
        <appender-ref ref="SUCCESS"/>
    </logger>

    <!-- ERROR LOGGER -->
    <logger name="ERROR_LOG" level="ERROR" additivity="false">
        <appender-ref ref="ERROR"/>
    </logger>

    <!-- ========================= -->
    <!-- ROOT LOGGER              -->
    <!-- ========================= -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
